<p>[Use (C-c) to return. You can also start typing to focus on prompt]
<h2>exp: Professional Experience</h2>
<section class=exp>
	<h4> Capgemini America, PA </h4> <br>
	In my experience as an intern for F500 client, I produced technical coaching materials to support client teams in adopting agile practices and integrating more effectively with development processes and tools. 
	I also improved visibility into sprint progress and enhanced the accuracy of reports by tracking inconsistencies in weekly reports. Additionally, I architected an AI solution to enhance customer experience, developing a prototype during a case study to demonstrate its feasibility and potential impact.
	<br>
</section>{{template "prompt" .}}
