{{block "landing" .}}
<h2> Landing: Welcome </h2>
<p> {{.content}} <br>
    -{{.author}}
</p>

<section class="landing">
    <p>
    <h4>
        ROOT:Sahil Sinha
    </h4>
    </p>
    <ul>
        <h3> Use one of the following command to navigate around this enviroment: </h3>
        <li>
            <h4>whoami</h4> Displays a brief about-me page for the root user.
        </li>
        <li>
            <h4>showcase</h4> Opens an interactive prompt showcasing different projects developed by the root
            user.
        </li>
        <li>
            <h4>ping</h4> Opens a TUI form to contact the root user.
        </li>
        <li>
            <h4>clear</h4> Clears terminal.
        </li>
    </ul>
    <pre style="color: var(--nav)">
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠠⣤⣤⣤⣴⣶⣶⣾⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⡀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⣼⣿⢹⣷⡈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⣰⣿⡿⠸⣿⣷⡀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⣰⣿⣿⡇⠀⣿⣿⣷⡄⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀
        ⠀⠀⠀⠀⣰⣿⣿⣿⠃⠀⢿⣿⣿⣿⣦⡘⢿⣿⣿⣿⣿⣿⡻⣿⣿⣿⡿⠛⠀⠀
        ⠀⠀⠀⣴⣿⣿⣿⡿⠀⠀⢸⣿⣿⣿⣿⣷⣄⠙⣿⣿⣿⣿⣿⣤⡙⠻⠀⠀⠀⠀
        ⠀⢀⣾⣿⣿⣿⣿⠇⠀⠀⠀⣿⣿⣿⣿⣿⣿⣦⠈⢿⠟⠋⠉⠀⠀⠀⠀⠀⠀⠀
    </pre>
</section>
<p> Coming Soon! : About-Me Update :: Contact-Me Update </p>⠀
{{template "prompt" .}} {{end}}
