<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop-Only App</title>
    <link href="../../public/css/style.css" rel="stylesheet" />
    </style>
</head>

<body>
    <h3 style="color: green;">Unfortunately, this website can't be viewed on a mobile device</h3>
    <p>This application is designed to emulate a desktop and terminal shell, down to how you navigate. This
        unfortunately means mobile devices are not compatible by design.</p>
    <p>Please access it from a desktop or laptop computer.</p>
</body>

</html>
