{{ block "projects" .}}
<h2>Showcase: Projects</h2>
<p>[Use (↑↓) to navigate. (C-c) to break.] </p><br>
<section class="projects" id="projects">
    <ul class="selector">
        <li>say.hi</li>
        <li>mpac</li>
        <li>dotfile</li>
        <li>numConverter</li>
        <li>numConverter</li>
    </ul>
    <div class="project-box" id="project-box"> Use (Arrow Keys) to naviagte between projects. You can also click on a
        project's name to be redirected to that projects's git repo </div>
</section>
{{end}}
