<!doctype html>
<html lang="en">

<head>
    <title>Say Hi!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale =1" />
    <script src="/scripts/htmx.js"> </script>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <main class="terminal">
        <div class="terminal-decorations">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="terminal-window" id="terminal-window">
            {{template "about-me" .}}
        </div>
    </main>

</body>

<script src="/scripts/nav.js"></script>
<script> listenNav(); </script>

</html>
