<!doctype html>
<html lang="en">
  <head>
    <title>Say Hi!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale =1" />
    <script src="scripts/htmx.min.js"></script>
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <section class="nav">
        <button hx-get="/about-me" hx-target="#main">About Me</button>
        <button hx-get="/projects" hx-target="#main">Projects</button>
        <button hx-get="/contact-me-form" hx-target="#main">Contact Me</button>
      </section>
    </header>
    <main id="main"></main>
    <footer><section class="contact-me">Contact Info</section></footer>
  </body>
</html>
