* {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    height: 100%;
}

.display {
    display: flex;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 15vh;
    padding-right: 35vh;
    gap: 20px;
}

.nav {
    color: #fff;
    flex: 0 0 125px;
    padding: 20px;
    border-radius: 10px;
}

#main {
    flex: 1;
    padding: 40px;
    border-radius: 10px;
}
