* {
  font-family: "Times New Roman";
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #1A1B26;
  height: 100%;
}

.projects {
  display: flex;
  gap: 20px;
  padding: 10px;

}

.buttons {
  display: flex;
  flex-direction: column;
   gap: 10px;
}


